@model IEnumerable<MVC_Chat.Models.User>

@{
    ViewBag.Title = "CrearConversacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h2>Iniciar conversacion</h2>

@using (Html.BeginForm("CerrarSesion", "Perfil"))
{
    <button type="submit" class="btn btn-danger btn-sm pull-right" name="CerrarSesion" value="CerrarSesion">x Cerrar sesión</button>
}
<br />
<table class="table">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.ActionLink("Hablar", "Mensajes", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("<- Regresar", "HomePerfil", "Perfil")
</p>